[submodule "EpipolarConsistency"]
	path = EpipolarConsistency
	url = https://github.com/aaichert/EpipolarConsistency.git
[submodule "EpipolarConsistencyPythonModule/pybind11"]
	path = EpipolarConsistencyPythonModule/pybind11
	url = https://github.com/pybind/pybind11.git
